/**
* @file
* Add derivatives of style-dictionary variables .
*/

/* Variable aliases */
$hilight: $color-hilight;
$dark: $color-primary;
$dark-bg: $color-primary-bg;
$light: $color-secondary;
$light-bg: $color-secondary-bg;
$grey: $color-neutral;
$adjust: 25%;

/* Variable extensions */
$dark-light: lighten($dark, $adjust);
$dark-dark: darken($dark, $adjust);

$light-light: lighten($dark, $adjust);
$light-dark: darken($dark, $adjust);

$grey-light: lighten($dark, $adjust);
$grey-dark: darken($dark, $adjust);

$hilight-light: lighten($hilight, $adjust);
$hilight-dark: lighten($hilight, $adjust);
