/**
  * @file src\sass\styles\_base_media.scss
  * Media
*/

img,
picture,
object {
  display: block;
  display: inline-block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

a img {
  &,
  &:hover {
    border: none;
    outline: none;
  }
}

/* Wrap iframes for positioning
.iframe-wrap {
  position: relative;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%; // 16:9
}
*/
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
