@mixin triangle(
  $width: $default-size,
  $height: $default-size,
  $color: $c1,
  $direction: "left"
) {
  position: absolute;
  width: 0;
  height: 0;
  content: "";

  $theight: calc($height/2);
  $twidth: calc($width/2);

  @if ($direction == "left") {
    border-top: $theight solid transparent;
    border-right: $width solid $color;
    border-bottom: $theight solid transparent;
  }

  @if ($direction == "right") {
    border-top: $theight solid transparent;
    border-bottom: $theight solid transparent;
    border-left: $width solid $color;
  }

  @if ($direction == "up") {
    border-right: $twidth solid transparent;
    border-bottom: $height solid $color;
    border-left: $twidth solid transparent;
  }

  @if ($direction == "down") {
    border-top: $height solid $color;
    border-right: $twidth solid transparent;
    border-left: $twidth solid transparent;
  }
}
