/**
  * @file
  * Cellular Grid
*/

.container {
  float: none;
  max-width: $grid-cell-max-width;
  margin: auto;
}

/* //// */

/* Grid Cells */

/* /// */

/* Set common attributes. */
#{$cells} {
  position: relative;
  z-index: 1;
  display: block;
  float: left;
  @include transition();

  &.center {
    margin: $grid-cell-margin + unquote("%") auto;
  }

  @if ($grid-cell-margin) {
    margin: $grid-cell-margin + unquote("%");
  }

  @if ($grid-cell-padding) {
    padding: $grid-cell-padding + unquote("%");
  }
}

/* .cell is functionally a row */
.cell {
  @include clear();

  width: 100%;
}

/* Size individual cells & offsets. */
@each $size in $grid-cells {
  $name: round($size);

  .cell-#{$name} {
    width: $size - $cell-space + unquote("%");
  }
}

.offset-#{$name} {
  margin-left: $size + ($cell-space / 2) + unquote("%");
}

}


@include mediaquery($mediaquery-small) {

  /* Set all cells to single-column */
  #{$cells} {
    width: 100% - $cell-space;

  }

  #{$offsets} {
    margin-left: $grid-cell-margin + unquote("%");
  }
}

/* /// */

/* Element positioning classes */

/* /// */
.hidden {
  position: absolute;
  left: -9999px;
}

.clearfix {
  @include clear();
}

.left,
.right,
.center {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  @include clear();
  margin: $grid-cell-margin + unquote("%") auto;
}