/**
  * @file
  * Cellular Grid
*/

/* Set common attributes. */
#{$cells} {
  @include transition();

  @if ($grid-cell-margin) {
    margin: $grid-cell-margin + unquote("%");
  }
  @if ($grid-cell-padding) {
    padding: $grid-cell-padding + unquote("%");
  }
}

/* Size individual cells & offsets. */
@each $size in $grid-cells {
  $name: round($size);
  .cell-#{$name} {
    flex-basis: $size + unquote("%");
    width: auto;
    max-width: $size + unquote("%");
  }
}

@include mediaquery($mediaquery-small) {
  /* Set all cells to single-column */
  #{$cells} {
    flex-basis: 100%;
  }
  #{$offsets} {
    margin-left: $grid-cell-margin + unquote("%");
  }
}
