/**
  * @file
  * Cellular Grid
*/

.container {
  max-width: $grid-cell-max-width;
  margin: auto;
  &.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  } 
}
