/**
  * @file src\sass\styles\__layout.scss
  * Grid layouts
*/
/*
.customgrid {
  display: grid;
  grid-auto-rows: 140px;
  grid-auto-flow: row;

  &.customtemplate {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
*/
