/**
  * @file
  * Content region styles
*/

#footer {
  z-index: 1;
  margin: 5em 0 0 0;
  color: $c1-bg;
  background: $c2-bg;
}

.copyright {
  display: block;
  padding: $size-small $size-big $size-small;
  text-align: right;
}
