/**
  * @file
  * Content region styles
*/

#header {
  display: block;
  position: $region-header-position;
  z-index: 10;
  top: 0;
  left: 0;
  height: $header-height;
  background: $c1-bg;
  box-shadow: 0 0 1em 0.1em $c2;
  will-change: height;
}

#header-top {
  z-index: 4;

  /* Position contents left or right */
  text-align: right;
  color: $c1-bg;
  border-bottom: $default-border;
  background: $c1;

  /* Custom type for region */
  div {
    display: inline;
  }

  h2,
  h3,
  h4 {
    display: inline;
    color: $c1-bg;
    font-size: 1em;
  }
}

#header-bottom {
  color: $c1-bg;
  background-color: $c2;
}
