/**
  * @file
  * Styling DOM classes provided by drupal
*/

$br: 0.2em;

form.site-search {
  display: inline;
  display: inline-block;
  width: auto;
  padding: $br;
  text-align: right;
  border: $color-neutral 1px solid;
  border-radius: $br;
  background-color: $color-2;
  background-color: rgba($color-2, 0.6);
  font-size: 0.8em;

  .container-inline {
    text-indent: unset;
  }

  input {
    display: inline;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-radius: $br;
    line-height: 2em;

    &[type="text"] {
      width: 12em;
      padding: 0.5em 0.2em 0.3em;
      color: $color-neutral;
      border-bottom: $color-neutral 0.1em solid;
      border-radius: $br;
      background: rgba($color-1-bg, 0.4);
      line-height: 1em;

      &:hover,
      &:active,
      &:focus {
        color: $color-1;
        border-color: $color-hilight;
        outline: none;
      }
    }

    &[type="submit"] {
      float: none;
      padding: 0 1.4em 0 0.2em;
      border: $color-neutral 1px solid;
      background: $color-2 url("../assets/icons/png/search.png") center right
        no-repeat;
      background-image: url("../assets/icons/svg/search.svg");
      background-size: 1.4em;

      &:hover,
      &:active,
      &:focus {
        border-color: $color-hilight;
        outline: none;
        background-color: darken($color-2, 8%);
      }
    }
  }
}

form.search-form {
  display: block;
  margin: 3em auto;
  padding: 1em;

  label {
    margin: 0;
    padding: 0;
  }
}

.search-result {
  .title {
    display: inline;
    margin: 0;
    padding: 0;
  }
}

.search-snippet-info {
  font-size: 0.8em;
}
